.navbar {
  background-color: #333;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center; /* Adicionado */
  align-items: center; /* Adicionado */
  flex-grow: 1; /* Adicionado */
}

.menu-item {
  margin-right: 10px;
  text-align: center; /* Adicionado */
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu-item a:hover {
  background-color: #555;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
}

